@import '../../styles/color_vars_';
@import '../../styles/mixins';

.lastSevenDays {
  background: #fff;
  min-height: 39vh;
  overflow: hidden;
  @include breakpoint(576px, 767px) {
    min-height: auto;
    & > div:nth-of-type(2) {
      width: 100%;
      max-height: 30rem !important;
    }
    .recharts-responsive-container {
      max-width: 100% !important;
      height: 86% !important;
      transform: translate(-1rem, 2.2rem) !important;
    }
  }
  @include breakpoint(768px, 1199px) {
    min-height: 10vh;
    & > div:nth-of-type(2) {
      width: 100%;
      max-height: 30rem !important;
    }
    .recharts-responsive-container {
      width: 100% !important;
      height: 86% !important;
      transform: translate(0rem, 2.2rem);
    }
  }
}
