@import '../../styles/mixins.scss';
@import '../../styles/color_vars_.scss';
@import '../../styles/typography_vars_.scss';

.hero {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  &-text-wrapper,
  &-image-wrapper {
    background: $gray-secondary;
    @include flex-center(row);
    object-fit: contain;
  }
  &-text-wrapper {
    @include breakpoint(0px, 1024px) {
      order: 2;
    }
    @media only screen and (orientation: landscape) {
      max-width: 50%;
    }
    @include breakpoint(576px, 1024px) {
      padding: 0 5vw;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    min-height: 63vh;
    h1 {
      @include desktop-h1;
      font-family: 'Redressed';
      margin-bottom: 10vh;
      color: $dark-blue !important;
      @include breakpoint(0px, 1024px) {
        transform: translate(0, -2rem);
        margin-bottom: 0;
      }
    }
    p {
      line-height: 2rem;
    }
    @include breakpoint(0px, 1024px) {
      min-height: 52vh;
      justify-content: flex-start;
    }
  }
  &-image {
    max-width: 100%;
    flex-grow: 1;
    min-height: 75%;
    background-image: url('../../assets/LoginPage/loginBackground.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include breakpoint(0px, 1024px) {
      min-height: 100%;
    }
  }
  &-image-wrapper {
    @include breakpoint(0px, 1024px) {
      order: 1;
      overflow: auto;
      min-height: 38vh;
    }
    @media only screen and (orientation: landscape) {
      max-width: 50%;
    }
    @include breakpoint(576px, 1024px) {
      padding: 0 5vw;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 33vh;
    .form-label {
      font-size: 1.375rem;
    }
    input {
      min-height: 6vh;
      border-radius: 0 !important;
    }
    a {
      color: $dark-blue !important;
      font-size: 1.2rem;
      &:nth-of-type(2) {
        font-size: 2rem;
      }
    }
    .form-group {
      line-height: 1.5 !important;
      &:nth-of-type(2) {
        margin-top: 5vh;
        @include breakpoint(0px, 1024px) {
          margin-top: 0;
        }
      }
    }
  }
  button {
    width: 20rem;
    max-width: 14rem !important;
    font-size: 2rem;
    background: $dark-blue;
    color: #fff;
    border: none;
    margin-top: 10vh;
    @include breakpoint(0px, 1024px) {
      margin-top: 0;
    }
  }
  .form-inline .form-control {
    padding: 0 1vw;
    background: $gray;
    color: $dark-blue;
    font-size: 1.4rem !important;
    &::placeholder {
      color: $dark-blue;
    }
  }
}
form .form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  a {
    margin-top: 3vh;
    @include breakpoint(0px, 1024px) {
      margin-top: 0;
      order: 2;
    }
  }
  @include breakpoint(0px, 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 1rem);
  }
}
