.hero {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap; }

.hero-text-wrapper, .hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  object-fit: contain; }

@media (max-device-width: 1024px) {
  .hero-text-wrapper {
    order: 2; } }

@media only screen and (orientation: landscape) {
  .hero-text-wrapper {
    max-width: 50%; } }

@media (min-device-width: 576px) and (max-device-width: 1024px) {
  .hero-text-wrapper {
    padding: 0 5vw; } }

.hero-text {
  display: flex;
  flex-direction: column;
  min-height: 63vh; }

.hero-text h1 {
  font-family: 'Roboto';
  font-weight: 700px;
  font-size: 5.8125rem;
  font-family: 'Redressed';
  margin-bottom: 10vh;
  color: #174359 !important; }

@media (max-device-width: 1024px) {
  .hero-text h1 {
    transform: translate(0, -1rem);
    margin-bottom: 0; } }

.hero-text p {
  line-height: 2rem; }

@media (max-device-width: 1024px) {
  .hero-text {
    justify-content: flex-start; } }

@media (max-device-width: 575px) {
  .hero-text {
    min-height: 62vh !important; } }

.hero-image {
  max-width: 100%;
  flex-grow: 1;
  min-height: 75%;
  background-image: url("../../assets/LoginPage/loginBackground.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

@media (max-device-width: 1024px) {
  .hero-image {
    min-height: 100%; } }

@media (max-device-width: 1024px) {
  .hero-image-wrapper {
    order: 1;
    overflow: auto;
    min-height: 38vh; } }

@media only screen and (orientation: landscape) {
  .hero-image-wrapper {
    max-width: 50%; } }

@media (min-device-width: 576px) and (max-device-width: 1024px) {
  .hero-image-wrapper {
    padding: 0 5vw; } }

.hero form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 33vh; }

.hero form .form-label {
  font-size: 1.375rem; }

.hero form input {
  min-height: 6vh;
  border-radius: 0 !important; }

.hero form a {
  color: #174359 !important;
  font-size: 1.2rem; }

.hero form a:nth-of-type(2) {
  font-size: 2rem; }

.hero form .form-group {
  line-height: 1.5 !important; }

.hero form .form-group:nth-of-type(2) {
  margin-top: 5vh; }

@media (max-device-width: 1024px) {
  .hero form .form-group:nth-of-type(2) {
    margin-top: 0; } }

.hero button {
  width: 20rem;
  max-width: 14rem !important;
  font-size: 2rem;
  background: #174359;
  color: #fff;
  border: none;
  margin-top: 10vh; }

@media (max-device-width: 1024px) {
  .hero button {
    margin-top: 0; } }

.hero .form-inline .form-control {
  padding: 0 1vw;
  background: #d1d3d4;
  color: #174359;
  font-size: 1.4rem !important; }

.hero .form-inline .form-control::placeholder {
  color: #174359; }

form .form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

form .form-block a {
  margin-top: 3vh; }

@media (max-device-width: 1024px) {
  form .form-block a {
    margin-top: 0;
    order: 2; } }

@media (max-device-width: 1024px) {
  form .form-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, 1rem); } }

@media (max-device-width: 575px) {
  form .form-block {
    max-height: 100vh; } }
