@import '../../styles/mixins';

.CircularProgressbar .CircularProgressbar-path {
  stroke: #1c5b7b;
}
.CircularProgressbar {
  width: 50%;
  height: 50%;
  margin: 0px auto;
  @include breakpoint(768px, 1199px) {
    height: 67%;
  }
}
.CircleProgress {
  width: 96%;
  height: 66%;
  display: flex;
  align-items: flex-start;

  @include breakpoint(0px, 575px) {
    height: 76%;
    width: 98%;
    align-items: flex-start;
  }
  @include breakpoint(576px, 767px) {
    height: 46%;
    width: 100%;
    align-items: flex-start;
  }
  @include breakpoint(768px, 1199px) {
    height: 85%;
    width: 50%;
    align-items: center;
  }
}

@include breakpoint(768px, 1199px) {
  .recharts-responsive-container {
    width: 50% !important;
    height: 86% !important;
  }
  .recharts-wrapper {
    max-height: 30vh !important;
  }
}
