.CircularProgressbar .CircularProgressbar-path {
  stroke: #1c5b7b; }

.CircularProgressbar {
  width: 50%;
  height: 50%;
  margin: 0px auto; }
  @media (min-device-width: 768px) and (max-device-width: 1199px) {
    .CircularProgressbar {
      height: 67%; } }
  @media only screen and (max-width: 1000px) and (orientation: landscape) {
    .CircularProgressbar {
      width: 64% !important;
      height: 92% !important; } }

.CircleProgress {
  width: 96%;
  height: 66%;
  display: flex;
  align-items: flex-start; }
  @media (max-device-width: 575px) {
    .CircleProgress {
      height: 76%;
      width: 98%;
      align-items: flex-start;
      margin-top: 3vh; } }
  @media (min-device-width: 576px) and (max-device-width: 767px) {
    .CircleProgress {
      height: 46%;
      width: 100%;
      align-items: flex-start; } }
  @media (min-device-width: 768px) and (max-device-width: 1199px) {
    .CircleProgress {
      height: 85%;
      width: 50%;
      align-items: center; } }
  @media only screen and (max-width: 1000px) and (orientation: landscape) {
    .CircleProgress {
      height: 76% !important;
      width: 50% !important;
      margin-top: 2rem !important; } }

@media (min-device-width: 768px) and (max-device-width: 1199px) {
  .recharts-responsive-container {
    width: 50% !important;
    height: 86% !important; }
  .recharts-wrapper {
    max-height: 30vh !important; } }
