@mixin desktop-h1 {
  font-family: 'Roboto';
  font-weight: 700px;
  font-size: 5.8125rem;
}
@mixin dashboard-h1 {
  font-family: 'Redressed';
  font-weight: 400px;
  font-size: 3.1302rem;
}
@mixin dashboard-h2 {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 1.5569rem;
}
@mixin desktop-h2 {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 4.5625rem;
}
@mixin desktop-h4 {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 2.875rem;
}
@mixin desktop-h3 {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 3.3125rem;
}
@mixin dashboard-p2 {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 0.6494rem;
}
@mixin desktop-h5 {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 2.3125rem;
}
@mixin dashboard-menu {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 1.3045rem;
}
@mixin dashboard-h3 {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 1.2323rem;
}
@mixin desktop-p {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 1.9375rem;
}
@mixin dashboard-p {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 0.9584rem;
}
@mixin desktop-h6 {
  font-family: 'Redressed';
  font-weight: 400px;
  font-size: 2.125rem;
}
@mixin desktop-a {
  font-family: 'Roboto';
  font-weight: 400px;
  font-size: 1.9375rem;
}
